

:root{
    --primary-color: #00171f;
    --secondary-color: #003459;
    --accent1-color: #e09f3e;
    --accent2-color: #922d50;
    --header-font: "Roboto Slab", sans-serif;
    --body-font: "Poetsen One", sans-serif;

}

header {
    font-family: var(--header-font);
    background-color: var(--primary-color);
    color: var(--accent1-color)
}

header {
    display: flex;
    text-align: center;
    align-items: center;
}

header nav {
    display: flex;
    margin-top: 70px;
    margin-left: 120px;
    gap: 10px;
    
    
    
}

body{
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    margin: 0 auto;
    width: 850px;
}

h1, h2 {
    font-family: var(--header-font);
    color: var(--accent2-color);
}

nav, p, section, article {
    padding: 8px;
    margin: 16px;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section h2 {
    text-align: center;
}

section h2 {
    text-align: center;
}


.figure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.socialmedia a{
    text-decoration: none;
    padding: 10px;
}

.socialmedia a img {
    height:30px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.logo {
    width: 100px;
    height: auto;
    padding-top: 25px;
    margin-left: 50px;
    margin-bottom: 20px;
}

section img {
    margin: 15px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0px;
    text-align: center;
    background-color: var(--primary-color);
    opacity: 0.7;
}

article {
    background-color: var(--accent1-color);
    position: absolute;
    top: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
    opacity: 0.7;
}

.hero article img{
    float: right;
    width: 124px;
    margin-top: 10px;
}

footer nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}



