

h1 {
    background-color: darkblue;
    color: white;
    padding: 16px;
    text-align: center;
    
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width:fit-content;
}

main img {
    border: 1px solid black;
    width: 150px;
    height: auto;
    padding: 2px;
    margin-left: 20px;
    box-shadow: 0 0 30px gray;    
}

main p {
    padding-left: 20px;
}

aside {
    margin: 10px;
    border: 20px;
    width: auto;
    padding: 10px;
    color: aqua;
    background-color: rgb(255, 157, 0);
}

aside img {
    height: auto;
    width: 200px;
}

aside p {
    padding: 0;
}

footer {
    border-top: 20px;
    margin-top: 20px;
    text-align: center;
}